
/* 页面整体样式 */


body {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

.content {
    font-size: 18px;
    padding: 20px;
}

.Mision, .Vision, .Valores {
    position: relative;
    padding: 20px;
    text-align: center;
    backdrop-filter: blur(5px); /* 添加毛玻璃效果 */
    border-radius: 10px;
    margin: 20px;
    transition: transform 0.3s;
    z-index: 2;
}

h3 {
    font-size: 32px;
    color: #007BFF;
}



@media (max-width: 480px) {
    .Mision, .Vision, .Valores {
        margin: 20px;
    }
}

/* 更新字体大小 */
.content h3 {
    font-size: 24px; /* 标题字体大小 */
}

.content p, .content ul li {
    font-size: 18px; /* 段落和列表项字体大小 */
}

/* 添加动画效果 */
.content div {
    transition: transform 0.3s, box-shadow 0.3s;
    cursor: pointer;
}

.content div:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* 让内容区域覆盖整个页面 */
.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

/* 调整内容项的样式 */
.content div {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    width: 80%;
    margin: 20px;
}


