
.Mision, .Vision, .Valores {
    position: relative;
    padding: 20px;
    text-align: center;
    background-color: rgba(240, 240, 240, 0.7); /* 使用 rgba 表示颜色，设置透明度 */
    border-radius: 10px;
    margin: 10px 20px; /* 减少顶部和底部的 margin，保持左右 20px 的 margin */
    transition: background-color 0.3s; /* 更改背景颜色的过渡效果 */
    display: inline-block;
}

.Mision:hover, .Vision:hover, .Valores:hover {
    background-color: #007BFF; /* 鼠标悬停时改变背景颜色 */
    color: #fff; /* 文本颜色改变 */
}

h3 {
    font-size: 28px; /* 增大标题字体大小 */
    color: #007BFF;
}

p, li {
    font-size: 18px; /* 增大段落和列表项字体大小 */
    line-height: 1.6; /* 增加行高 */
    color: #333;
}

.content {
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    margin: 100px 20px 20px;
    position: relative; /* 设置为相对定位 */
    width: 90%;
}

