
/* 页面整体样式 */

.container {
    min-height: 123vh; /* 默认情况下的最小高度 */
}


body {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

.content {
    font-size: 18px;
    padding: 20px;
}

.Mision, .Vision, .Valores {
    position: relative;
    padding: 20px;
    text-align: center;
    backdrop-filter: blur(5px); /* 添加毛玻璃效果 */
    border-radius: 10px;
    margin: 20px;
    transition: transform 0.3s;
    z-index: 2;
}

h3 {
    font-size: 32px;
    color: #007BFF;
}


/* 更新字体大小 */
.content h3 {
    font-size: 24px; /* 标题字体大小 */
}

.content p, .content ul li {
    font-size: 18px; /* 段落和列表项字体大小 */
}

/* 添加动画效果 */
.content div {
    transition: transform 0.3s, box-shadow 0.3s;
    cursor: pointer;
}

.content div:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* 让内容区域覆盖整个页面 */
.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

/* 调整内容项的样式 */
.content div {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    width: 80%;
    margin: 20px;
}

@media (max-width: 480px) {
    .container {
        min-height: 170vh; /* 在小屏幕上保持min-height: 123vh */
    
}

/* 字体样式 */
.texto1 h1, .texto2 h1 {
    font-family: 'Your Desired Font', sans-serif;
    font-size: 28px; /* 调整字体大小 */
    color: #333; /* 文字颜色 */
}

.texto1 p, .texto2 p {
    font-family: 'Your Desired Font', sans-serif;
    font-size: 18px; /* 调整字体大小 */
    color: #666; /* 文字颜色 */
}

/* 过渡动画效果 */
.texto1, .texto2 {
    transition: transform 0.3s ease-in-out;
}

.texto1:hover, .texto2:hover {
    transform: scale(1.05);
}

/* 布局 */
.texto {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%; /* 占满整个宽度 */
    padding: 20px; /* 可以调整内边距 */
}

.texto1, .texto2 {
    width: 100%; /* 占满整个宽度 */
    margin: 20px 0; /* 调整文本块之间的间距 */
    background: rgba(255, 255, 255, 0.8); /* 背景颜色，包括透明度 */
    backdrop-filter: blur(10px); /* 添加毛玻璃效果，可调整模糊半径 */
    padding: 20px; /* 调整内边距 */
    border-radius: 15px; /* 添加圆角，可调整圆角半径 */
}

/* 图片自适应宽度 */
img {
    max-width: 100%; /* 图片自适应屏幕宽度 */
    height: auto; /* 图片高度自动调整 */
}
}













